<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>19BCT0082</title>
</head>
<body>

    <form action="/login" method="post">
        <label for="username">Username</label> <br>
        <input name="username" type="text" id="username">
        <br>
        <label for="password">Password</label> <br>
        <input name="password" type="text" id="password">
        <br>
        <input name="remember" type="checkbox" id="remember">
        <label for="remember">Remember Me next time!</label>
        <br>
        <button type="submit" id="login" >Login</button>
    </form>
    
</body>
</html>

